<! DOCTYPE html>

<html>
        <head>
          <meta charset="utf-8">
        
          <title>Image search</title></title>
          
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
          <link href="/public/css/styles.css" rel="stylesheet" type="text/css">
          
        </head>
        
        <body class = "description">
            <h1>API Image Search</h1>
                <p>By Makesi Hamilton</p>
                <br>
            User Stories:
                <ul>
                    <li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
                    <li>I can paginate through the responses by adding a /'number' parameter to the URL.</li>
                    <li>I can get a list of the most recently submitted search strings.</li>
                </ul>
             <h2>Example usage:</h2>
    <p>https://image--search-bing.herokuapp.com/search/Euro2016</p>
    <p>https://image--search-bing.herokuapp.com/search/Euro2016/3</p>
    <p>https://image--search-bing.herokuapp.com/recent/</p>    
            
        </body>
</html>